* {
  text-align: center;
  /* font-family: 'Advent Pro', sans-serif; */
  font-family: 'Advent Pro', sans-serif;
  font-family: 'Raleway', sans-serif;
  /* background-color: black; */
  padding-bottom: 2px black;
  padding-left: 2px black;
  padding-right: 2px black;
  

}
.footer-fixed footer {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.footer-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
  background-color: black;
}
.model {
  color: black;
}
.about-image {
  background-color: black;
  margin-left: 100px;
  margin-top: 50px;
}
.bio-card{
  margin-top:10%
}
.bio-button:hover{
  filter: opacity(.8)
}
.video-app {
  position: absolute;
  z-index: 10;
  padding: 10px;
}

/* buttons:#424242 grey darken-3 */
/* background:#000000 black */
/* text:#ffffff white */